# Decision Making

Means the program will chose what to do based on the condition
example

if its raining -> then take an umbrella

else -> dont take an umbrella



1. if  

2. if-else

3. if elif else

In [ ]:
# If: If this condition is true , then do this.
# if we want to check only one condition then we make use of if

In [ ]:
age = 20

# when we're having a condition inside condiiton (sub-condiiton) then we have to make use of identation
if age > 18:
  # here 20 is > than 18 so here the conditin is getting satisfy thats why we're getting an op
  print("You can drive ")

You can drive

In [ ]:
age = 20

# when we're having a condition inside condiiton (sub-condiiton) then we have to make use of identation
if age < 18:
  # here 20 is < than 18 so here the conditin is not getting satisfy thats why the code is not running
  print("You can drive ")

# if-else

we're making use of else when the if condition is not getting true.
when none of the condition is getting true at that time we're making use of else part

In [ ]:
# when we want to check 2 condiiton at that time we're making use of else part
marks = 85

if marks <= 75:
  print("First Class")

else:
  print("Second class")

Second class

# If-elif-else


if we want to compare more than 2 condition then we're making use of if elif else part

In [ ]:
marks = 65

if marks >= 90:
  print("First class")

elif marks > 80:
  print("Second class")

elif marks >=70:
    print("Third class")

elif marks >= 60:
  print("Fourth class")

else:
  print("D class")

Fourth class

In [ ]:
# Program :
# Program it is a set of instructions that is used to perform a specific task
# instructions: we're telling to the program do this and do that

# Loop

when we want to perform any specific task repetedely at that time we're making use of loops.

In [ ]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

so lets suppose your task is to print this Hello world for 100 times and if your're not having a loop at that time you have to write this print("Hello world") for 100 times but,

if we are having the loop so that we can print this hello world 100 times in single line of code

so for that we have to give the condition that run this hello world 100 times . we have to tell to the program , we have to pass the instruction (command)

# Types of loops

1. for loop

2. while loop

In [ ]:
# For loop: when we know how long we want to run the program at that time we make use of for loop

In [ ]:
# syntax for loop

# for variable in sequence: (list,set,tuples,dictonary)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# this range takes two parameter (starting point, ending point ) but if you will not mention anything starting point then it will start from 0

# lets supppose we're giving range(1,5) so here it will start from 1 and it will run till 5 first the value will be 1 then it do the task and it will get incremented by 1 and so till the last condiiton

In [ ]:
# To print a table of 2 -> 2 4 6 8 10 12 14 16 18 20

for i in range(4, 11): # loop will start from 1 and it will run till 11
# 1 is starting point and 11 is ending point it will start from 1 and it wil run till 11
  print(i * 2)


  # when the condition will not get true at that time program will stop working
  # when the condition will get false at that time it will terminate

8
10
12
14
16
18
20

In [ ]:
for i in range(1, 50 , 3):
  print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [ ]:
for i in range(10 , 1 , -2):
  print(i)

10
8
6
4
2

In [ ]:
# Printing hello world 10 times

i=> Hello world
print ( i *10)

SyntaxError: invalid syntax (ipython-input-678715275.py, line 3)

In [ ]:
for i in range(10):
  print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [ ]:
# pint odd number from 1 to 20

for i in range(2, 21):
  if i % 2 == 0:
    print(i)

 # 1 3 5 7 9 -> the no which is not divisible by 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print odd number from 1 to 20

for i in range(2, 21):
  if i % 2 != 0:
    print(i)

3
5
7
9
11
13
15
17
19

In [ ]:
# Do sum of number from 1 to 10

total = 0

for i in range(1,10):
  total = total + i
print(total)

45

# **In-Built Data types**

In [ ]:
# List
# Tuple
# Set
# Dictonary

# if we want to store any data at that time we can make use of this inbuilt data types.
# int , float, char, string

# we have to follow its particular rules

# **List**

In [ ]:
# List is used to store the data , and the data can be of any types
# O C D (properties)
# O -> ordered
# C -> changable
# D -> Duplicates

# in built dt RE EXTENSION OF varaible in var we can store single value bt  in inbuilt we can store multiple values

In [ ]:
# if we want to access any element then we can access it with the help of index location

In [11]:
# List
# List follows O C D
# ordered: in same way we're getting the element
# changable: we can add, delete and updates the values

a = [10,20,30,40,50]
print("original list", a)

# add 60 in it at last position.  eg a = [10,20,30,40,50,60]
# append -> add at end
a.append(60)
print("Adding element at last ", a)

# add 70 at 3rd position.  eg a = [10,20,30,40,50,60]
# for accessing we can make use of index position
a.insert(3, 70)
# insert takes to paramete3r 1. where to add and what to add
print("Adding element at particualr position",a)

# Deletion of element
a.pop(4)# pop is used to delete the element by index
print("After popping", a)


# updating element
a[2] = 300
print("updating the list elemnt",a)

original list [10, 20, 30, 40, 50]
Adding element at last  [10, 20, 30, 40, 50, 60]
Adding element at particualr position [10, 20, 30, 70, 40, 50, 60]
After popping [10, 20, 30, 70, 50, 60]
updating the list elemnt [10, 20, 300, 70, 50, 60]

In [ ]:
# comma is a seperator operator
# List are mutable (can change)

In [13]:
city = ["Pune", "Mumbai", "Delhi", "Banglore", "Pune"] # duplication of list
print(city)

['Pune', 'Mumbai', 'Delhi', 'Banglore', 'Pune']

In [ ]:
# Task is to add one city at last , one at any position
# Delete last city
# updates Mumbai to Bombay

# **Tuples**

In [17]:
# Tuples are used to store the data and data can be any type

# Properties : O Cx D
# tuples has only 2 properties ordered and duplicates , changing element is not allowed in tuples -> no add ,delete, update the value

a = (10,20,30,40,50)
print("Tuple values are ", a) # ordered


a = (10,20,30,40,50,50)  # duplicates
print(a)


# inside tuple we cannot add , delete athe element

Tuple values are  (10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 50)

In [18]:
print(a[2])

# if we want to access any element then we can access it using index values
# if u want to access any value then we can wrap the index value in []

30

# **Set**

In [23]:
# set is also used to store the data and the data can be in any format.

# Properties: Ox Dx
# set does not follow ordere property

a = {10,20,30,40}
print("set element is not in ordered", a)

set element is not in ordered {40, 10, 20, 30}

In [27]:

a = {10,20,30,10,40,40}
print("set element does not allow duplicates", a)

print(a[2])

set element does not allow duplicates {40, 10, 20, 30}

TypeError: 'set' object is not subscriptable

In [28]:
# adding the element in sets
a = {10,20,30,40,50,60}
a.add(70)
print(a)

{50, 20, 70, 40, 10, 60, 30}

In [ ]:
# sets does not having index so we cannot access any particular element

# set will add the element at any position .

# sets are changable but we cannot add the element at particular location

# **Dictonary**

In [35]:
# its similar to normal dictonary

# {}

# normal dictonary is used to store the word and meaning but in programming dictonary store the data in key value pair
# dictonar is key value pair
# key = word
# value = meaning

# key cannot be duplicates whreas value can be duplicates or same

details = {"Name":"Shaaz", "age": 25, "city": "Pune", "city":"Pune", "city1":"Pune"}
print(details)

# dictonary we cannot duplicates the key whreas we can duplciates the values

# key is not getting duplicated

{'Name': 'Shaaz', 'age': 25, 'city': 'Pune', 'city1': 'Pune'}

# **Keywords**

It has been defined already when the langauge has implemeneted so we dont need to define it from r side

In [ ]:
# eg if , else , elif, print, break, switch

# **While loop**

it will run till the condition is getting satisfy

It will keep doing until the condition is getting false

In [ ]:
# synatx:
# while condition

In [36]:
# Task is print a number from 1 to 5

i = 1

while i<=5:
  print(i)
  i = i + 1

1
2
3
4
5

In [37]:
# print a number from 10 to 1

num = 10

while num >=1:
  print(num)
  num = num - 1

10
9
8
7
6
5
4
3
2
1

# Data Structures

In [ ]:
# how the data is getting store
# 1. linear ds : data is getting stored in linear format
# 2. non linear : data is not getting store in linear format (linear mean one by another in sequnce format)

In [ ]:
# Linear
# 1. Array
# 2. Linked List
# 3. Stack
# 4. Queue

In [ ]:
# Non linear
# 1. Tree
# 2. Graph